<settings>

    <servers>
        <server>
            <id>ossrh</id>
            <username>saikris</username>
            <password>Saiprasad1$Saiprasad1$</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>ossrh</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <gpg.executable>gpg</gpg.executable>
                <gpg.passphrase>galaxy</gpg.passphrase>
            </properties>
        </profile>
    </profiles>

</settings>